@{
    Html.RequiresCss("~/App_Plugins/uJetMaps/css/app/map.css");
    Html.RequiresJs("~/App_Plugins/uJetMaps/js/app/app.js")
        .RequiresJs("~/App_Plugins/uJetMaps/js/app/factories/leafletFactory.js")
        .RequiresJs("~/App_Plugins/uJetMaps/js/app/services/messagingService.js")
        .RequiresJs("~/App_Plugins/uJetMaps/js/app/controllers/mapController.js");
}
<!DOCTYPE html>
<html>

<head>
    
    <title>Umbraco Jet Maps</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.0/esri-leaflet-geocoder.css">
    @Html.RenderCssHere()

</head>

<body data-ng-app="uJetMaps" data-ng-controller="ujetMapController">

    <div class="ujet-editor">
        <div id="map" class="ujet-editor__map"></div>
    </div>

    <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.0/esri-leaflet-geocoder.js"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1.1.5/angular.min.js"></script>
    @Html.RenderJsHere()

</body>

</html>