<!DOCTYPE html>
<html>
<head>
    <title>Umbraco Jet Maps</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css">
    <link rel="stylesheet" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/1.0.0-rc.4/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="/App_Plugins/Logikfabrik.Umbraco.Jet.Maps/app/assets/map.css">
</head>
<body data-ng-app="Logikfabrik.Umbraco.Jet.Maps" data-ng-controller="ujet.map">
    <div id="map" class="ujet-map"></div>
    <script src="http://cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.6/esri-leaflet.js"></script>
    <script src="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/1.0.0-rc.4/esri-leaflet-geocoder.js"></script>
    <script src="/Umbraco/lib/angular/1.1.5/angular.min.js"></script>
    <script src="/App_Plugins/Logikfabrik.Umbraco.Jet.Maps/app/app.js"></script>
    <script src="/App_Plugins/Logikfabrik.Umbraco.Jet.Maps/app/factories/leaflet.js"></script>
    <script src="/App_Plugins/Logikfabrik.Umbraco.Jet.Maps/app/services/messaging.js"></script>
    <script src="/App_Plugins/Logikfabrik.Umbraco.Jet.Maps/app/controllers/map.js"></script>
</body>
</html>