<div class="ujet-map">

    <iframe ng-controller="ujetEditorController"
            ng-required="model.config.IsRequired"
            class="ujet-map__frame"
            src="/umbraco/uJetMaps/Map/Index"></iframe>

</div>