<!DOCTYPE html>
<html>

<head>
    <title>Umbraco Jet Maps</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.0/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="../App_Plugins/Logikfabrik.Umbraco.Jet.Maps/css/app/components/map.css">
</head>

<body data-ng-app="Logikfabrik.Umbraco.Jet.Maps" data-ng-controller="ujetMapController">

    <div class="ujet-editor">
        <div id="map" class="ujet-editor__map"></div>
    </div>

    <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.0/esri-leaflet-geocoder.js"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1.1.5/angular.min.js"></script>
    <script src="../App_Plugins/Logikfabrik.Umbraco.Jet.Maps/js/app/app.js"></script>
    <script src="../App_Plugins/Logikfabrik.Umbraco.Jet.Maps/js/app/factories/leafletFactory.js"></script>
    <script src="../App_Plugins/Logikfabrik.Umbraco.Jet.Maps/js/app/services/messagingService.js"></script>
    <script src="../App_Plugins/Logikfabrik.Umbraco.Jet.Maps/js/app/components/map/mapController.js"></script>

</body>

</html>